{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div>
        <h1 id="user-name">{{ user.username }}</h1>
    </div>
    <p hidden id="follower_following">{{ follower_following }}</p>
    <p hidden id="request_user">{{ request_user.username }}</p>

    <span class="row-follower">
        <button type="button" id="follower-btn">Follower</button>
    </span>
    <span style="padding-left: 20px; padding-right: 20px;"></span>
    <span class="row-following">
        <button type="button" id="following-btn">Following</button>
    </span>
    <div class="list-follower"></div>
    <div class="list-following"></div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/layout.js' %}"></script>
    <script src="{% static 'network/follower_following.js' %}"></script>
{% endblock %}